<%- include ('../partials/header.ejs') %>

    <h1>Adicionar Pessoa</h1>
    <p><a type="button" class="btn btn-default" href="/pessoas">Voltar</a></p>
      
    <form method="post">
      <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" value="<%= pessoaForm.nome %>">
      </div>
      <div class="form-group">
        <label for="nascimento">Nascimento</label>
        <input type="text" class="form-control" id="nascimento" name="nascimento" placeholder="Nascimento" value="<%= pessoaForm.nascimento %>">
    </div>
    <div class="form-group">
      <label for="cargo">Cargo</label>
      <input type="text" class="form-control" id="cargo" name="cargo" placeholder="Cargo" value="<%= pessoaForm.cargo %>">
    </div>        
    <button type="submit" class="btn btn-default" onclick="return confirm('Os dados estão corretos?')">Salvar</button>
    </form> 
    
<%- include ('../partials/footer.ejs') %>